.contenedorProveedor{
	width: 100%;
	height: 100;
	padding:10%;
}

.contenedorProveedor fieldset{
	background-color: #4267B2;
	width: 100%;
	height: 100%;
	margin-top: 2%;
}
.contenedorProveedor fieldset legend{
	background: #4267B2;
	color: #f2f2f2;
	padding-left: 3%;
	font-family: bold;
}
.der{
	float: left;
	width: 50%;
	margin-bottom: 5%;
}

.izq{
	float: right;
	width: 50%;
	margin-bottom: 5%;
}

.btn.btn-default.botonProveedor{
	width: 55%;
	height: 50%;
	margin: 0%;
	margin-left: 23%;
	margin-top: 10%;
	padding: 4%;
	font-size: 20px;
	font-weight: bold;
}

.botonProveedor:hover{
	color: #4267B2;
}